.element__image {
  width: 100%;
  height: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-position: center;
  object-fit: cover;
  margin: 0;
  transition: 0.4s linear;
}

.element__image:hover {
  opacity: 0.6;
  cursor: pointer;
}