.element__like-icon {
  width: 22px;
  height: 19px;
  margin: 0;
  border: 0;
  background-color: transparent;
  background-image: url(icon_disabled.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.4s linear;
}

.element__like-icon:hover {
  opacity: 0.4;
}