.popup__button_type_submit {
  width: 100%;
  min-height: 50px;
  background-color: #000000;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 48px auto 0;
  color: #FFFFFF;
  border-radius: 2px;
}


.popup__button_type_submit:hover {
  opacity: 0.8;
}

@media screen and (max-width: 500px) {
  .popup__button_type_submit {
    margin-top: 45px;
  }
}