.element__button {
  margin: 0;
  border: 0;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.4s linear;
}

.element__button:hover {
  opacity: 0.4;
}
